body{
    background-color: rgb(240, 234, 234);
}

.main-heading{
    font-size: 1.2em;
color: rgb(150, 146, 146);
text-align: center;
}

p{
    padding-top: 0;
    margin: 5px;
    color: rgb(150, 146, 146);
}

h2{
    margin-bottom: 5px;
}

.search-bar{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width:100%;
    margin: 0 auto;
}
.search{
    border-radius: 5px;
    padding: 8px 8px 8px 5px;
    width: 30%;
    text-align: left;
    box-shadow: none;
    border: 1px solid lightgray;
}

.search::placeholder {
    color: lightslategrey;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
}



.grid-container{
display: grid;

}

.card{
    background-color: white;
    margin: 8px;
    display: inline-flex;
    height:150px;
    border: 2px solid rgb(199, 197, 197);
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
}

.photo{
    max-width: 30%;
    margin: auto 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.main-info{
    margin-right: 10px;
    font-size: .9em;
    margin-top: 15px;
}


/*------MEDIA QUERIES_______*/

@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .main-heading{
        font-size: 1.6em;
    }
}


@media (min-width: 1200px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*------MODAL_______*/

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 500px;
    margin: auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
  }
  .modal-info-container{ 
      text-align: center;
  }

  .modal-close{
      cursor: pointer;
      text-align: right;
      font-size: x-large;
      margin-right: 10px;
  }
  
  .modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
  }
  
  .modal-name {
    margin-bottom: 5px;
  }
  
  .modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
  }
  
  .modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
  }

  .arrows{
      font-size: 2.5em;
      color: red;
      cursor: pointer;
  }